body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto-Mono', monospace;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 4vh;
  margin: 3vh 3vw 3vh 3vw;
  text-align: center;
}

#goNomadLogo-trans {
  height: 150px;
  width: 150px;
  align-self: center;
}

.login-container {
display: flex;
flex-direction: column;
justify-items: center;
background-color: rgba(64, 85, 89, 0.8);
width: 40vw;
height: 40vh;
border-radius: 30px;
padding-bottom: 7vh;
padding-top: 3vh;
margin: 10vh 12vw 0vh 12vw;
}



.hidden {
  display: none;
}