body {
  width: 100vw;
  font-family: 'Roboto-Mono', monospace;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  justify-content: center;
}

.nav-view {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.nav-buttons {
  margin: 3vh 3vw 3vh 3vw;
}

h1 {
  font-size: 4vh;
  margin: 3vh 3vw 3vh 3vw;
  text-align: center;
}

h4 {
  margin: 1vh 1vw 1vh 1vw;
  text-align: center;
  color:#35474B;
}

#goNomadLogo-trans {
  height: 150px;
  width: 150px;
  align-self: center;
}

.login-container {
display: flex;
flex-direction: column;
justify-items: center;
background-color: rgba(64, 85, 89, 0.8);
width: 40vw;
height: 40vh;
border-radius: 30px;
padding-bottom: 7vh;
padding-top: 3vh;
margin: 10vh 12vw 0vh 30vw;
}

.button {
border-radius: 4px;
margin: 0vh 1vw 0vh 1vw;
display: inline-block;
cursor: pointer;
background: #7B857B;
color: white;
outline: 0;
border: #262D25 solid 2px;
}

.button:hover {
  background: #5C551F;
  color: white;
}

.dashboard-page {
display: flex;
flex-direction: column;
background-color: rgba(64, 85, 89, 0.8);
width: 75vw;
border-radius: 30px;
padding-bottom: 7vh;
padding-top: 1vh;
margin: 0vh 12vw 0vh 10vw;
}

.my-trips-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 7px 7px;
  margin: 2vh 4vw 2vh 4vw;
}

.user-trip {
  background-color: #7B857B;
}

.trip-photo {
  width: 95%;
  height: 150px;
  margin-top: 1vh;
  border-radius: 2px;
}

.create-trip-page, .create-destination-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-trip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  background-color:rgba(64, 85, 89, 0.8);
  padding-bottom: 3vh;
  padding-top: 1vh;
  border-radius: 30px;
  margin: 0vh 12vw 0vh 10vw;
}

.trip-details {
  display: flex;
  flex-direction: row;
}

.trip-input {
  margin: 1vw 1vh 1vh 1vw;
}

.success-message, .dest-success-message {
  margin: 5vh 12vw 0vh 10vw;
  background-color: #5C551F;
  width: 60vw;
  color: white;
  border-radius: 30px;
}

.just-booked {
  align-items: center;
}

.new-trip-photo {
  width: 50%;
  height: 200px;
  margin-bottom: 1vh;
  border-radius: 2px;
}

.create-destination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  background-color:rgba(64, 85, 89, 0.8);
  padding-bottom: 3vh;
  padding-top: 1vh;
  border-radius: 30px;
  margin: 0vh 12vw 0vh 10vw;
}

.destination-details {
  display: flex;
  flex-direction: column;
}

#estimateButton, #editBtn, #bookButton {
margin-top: 21px;
}

.hidden {
  display: none;
}
